{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ name }}! ✅</h1>
    <h1>Welcome {{ sentence|upper }}! ✅</h1>
    <h1>Welcome {{ sentence|lower }}! ✅</h1>
    <h1>Welcome {{ sentence|length }}! ✅</h1>
    <h1> {{ [1,2,3,5,5,8] | join('A') }}</h1>
    <h1> {{ [1,2,3,5,5,8] | join(',') }}</h1>

    <h1>{{dump('hugo')}}</h1>
    <h1>{{dump(name)}}</h1>


    {# comment #}
    <!-- html comment -->

    {# {% include 'views_example/example.html.twig' %} #}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Users/hugoresende/side_projects/symfony/udemy1/src/Controller/ViewsExampleController.php</code></li>
        <li>Your template at <code>/Users/hugoresende/side_projects/symfony/udemy1/templates/views_example/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
