{% extends 'base.html.twig' %}

{% block title %}Weather{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Weather Details</h1>

    {% if form is defined and form %}
        {# Display the form #}
        {{ form_start(form) }}
            {{ form_row(form.latitude) }}
            {{ form_row(form.longitude) }}
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    {% endif %}

    {% if app.flashes('success') %}
        <div class="alert alert-success">
            {% for message in app.flashes('success') %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}


    {% if weatherData is defined and weatherData %}
        <h2>Location</h2>
        <ul>
            <li>Name: {{ weatherData.location.name }}</li>
            <li>Region: {{ weatherData.location.region }}</li>
            <li>Country: {{ weatherData.location.country }}</li>
            <li>Latitude: {{ weatherData.location.lat }}</li>
            <li>Longitude: {{ weatherData.location.lon }}</li>
            <li>Timezone: {{ weatherData.location.tz_id }}</li>
            <li>Local Time: {{ weatherData.location.localtime }}</li>
        </ul>

        <h2>Current Weather</h2>
        <ul>
            <li>Last Updated: {{ weatherData.current.last_updated }}</li>
            <li>Temperature: {{ weatherData.current.temp_c }}°C / {{ weatherData.current.temp_f }}°F</li>
            <li>Condition: {{ weatherData.current.condition.text }}</li>
            <li>Wind: {{ weatherData.current.wind_kph }} km/h from {{ weatherData.current.wind_dir }}</li>
            <li>Pressure: {{ weatherData.current.pressure_mb }} mb</li>
            <li>Humidity: {{ weatherData.current.humidity }}%</li>
        </ul>
    {% endif %}
</div>
{% endblock %}
